.containers {
  flex-direction: row;
  min-height: calc(100vh);
  display: flex;
}

.container-menu {
  background-color: #ffffff;
  box-shadow: #eff2f8 1px 1px 1px 1px;
}

.container-right {
  width: 345px;
  background-color: #ffffff;
  box-shadow: #eff2f8 1px 1px 1px 1px;
}

.h1-nukcol {
  color: #6470c8;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}