
.container-home-content {
  padding: 50px;
  display: flex;
  flex-direction: column;
  max-width: 1366px;
}
.container-home-content-top {
  display: flex;
  flex-direction: row;
}

.box-btn-left {
  display: flex;
  flex: 5;
}

.box-btn-right {
  display: flex;
  flex: 5;
  justify-content: flex-end;
}

.top-btn-home-content {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.btn-upload {
  cursor: pointer;
}

.btn-upload:hover {
  opacity: 0.8;
}

.top-btn-home-content:hover {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

.container-home-content-recently {
  display: flex;
  flex-direction: column;
}

.title-recenty {
  font-size: 18px;
}

.container-box-recenty {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-top-newfile {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.btn-view {
  cursor: pointer;
}

.box-btn-view {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

table {
  display: flex;
  color: #505c67;
  font-size: 12px;
  font-weight: 400;
  border-spacing: 0px;
  flex: 1;
  flex-wrap: wrap;
}

tbody {
  display: flex;
  flex-direction: column;
  flex: 1;
}

tr:hover td {
  background-color: #fff;
  box-shadow: #f3f5f8 2px 2px 2px 2px;
  cursor: pointer;
}

td:first-child {
  text-align: start;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: end;
  width: 100px;
}

tr {
  display: flex;
  flex: 1;
}

td {
  border-collapse: separate;
  border: 0;
  padding: 10px;
  display: flex;
  flex: 2;
}

.img-table {
  width: 40px;
  height: 40px;
  border-radius: 999px;
}

.btn-table-icon {
  margin-left: 20px;
  color: #c6c8cb
}

.container-bottom-shared {
  display: flex;
  margin-top: 25px;
  overflow-x: auto;
  max-width: 1366px;
  flex-wrap: wrap;
}

.box-shared {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: #edf0f7 1px 1px 1px 1px;
  position: relative;
  margin-right: 25px;
  flex: 1 1 130px;
  margin-bottom: 25px;
}


.icon-box-shared {
  width: 30px;
  top: 25px;
  left: 25px;
  position: absolute;
}

.name-box-shared {
  font-size: 12px;
  position: absolute;
  width: 80px;
  height: 40px;
  display: flex;
  top: 70px;
  left: 25px;
  color: #8f8f8f;
  align-items: flex-end;
}
